<nav class="nav">
    <a href="/">Home</a>
    <a href="/history">Company History</a>
    <a href="/pastprojects">Past Projects</a>
    <a href="/staff">Staff</a>
    <a href="/contact">Contact Us</a>
    <a href="/links">External Links</a>
    
</nav>