<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
    <link rel="stylesheet" href="/css/app.css">    
</head>
<div class="background">
<body>
    <%- include('./partials/nav') %>
    <h1 id="mainTitle">Contact Information</h1>
    <ul id="contact">
        <li>To call us, please see Brian's contact information in the staff page</li>
        <li>To contact us by email, please see Brian's contact information in the staff page.</li>

    </ul>
</body>
</div>
</html>