<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company History</title>
    <link rel="stylesheet" href="/css/app.css">    
</head>
<div class="background">
<body>
    <%- include('./partials/nav') %>
    <h1 id="mainTitle">Company History</h1>
    <p id="about"><%=msg%></p>
</body>
</div>
</html>